@import url("https://fonts.googleapis.com/css2?family=Jost&display=swap");

.container-fluid {
  position: relative;
  width: 70%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

h1 {
  font-size: 25px;
  font-family: "Jost", sans-serif;
}

h2 {
  font-size: 20px;
}

.card {
  overflow: auto;
  width: 100%;
}

.total-sales {
  position: absolute;
  bottom: 0;
}

.order-wrapper {
  width: 100%;
  display: grid;
}

.order {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
}
.order-child {
  width: 100%;
  place-items: center;
}
.prepare-btn {
  position: absolute;
  right: 100%;
}

.card-animate {
  animation: slide-right 0.5s;
}

table {
  height: 70%;
  overflow: auto;
}

.product-name {
  width: 30%;
}

.span-3 {
  width: 20%;
}

.center {
  text-align: center;
}

.success {
  position: absolute;
  background-color: rgb(88, 83, 83);
  color: rgb(223, 219, 214);
  padding: 1rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  letter-spacing: 2px;
  border-radius: 5px;
  text-align: center;
}

@keyframes slide-right {
  0% {
    transform: translateX(-100px);
  }

  100% {
    transform: translateX(0);
  }
}
