<div fxLayout="column" fxLayoutAlign="center center">
  <div class="container-fluid">
    <div
      *ngFor="let element of displayOrder"
      class="card card-animate"
      style="width: 22rem"
    >
      <div class="card-body" fxLayout="column" fxLayoutAlign="start start">
        <div>
          <h1 class="card-text">Order No. {{ element.orderID }}</h1>
        </div>

        <table class="table">
          <thead>
            <tr>
              <th>Item</th>
              <th>Quantity</th>
              <th>Total</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let _coffee of element.coffee">
              <td class="product-name">
                {{ _coffee.productName | titlecase }}
              </td>
              <td>{{ _coffee.quantity }} * {{ _coffee.size | currency }}</td>
              <td>{{ _coffee.total | currency }}</td>
            </tr>
            <tr *ngFor="let item of element.items">
              <td>{{ item.productName | titlecase }}</td>
              <td>{{ item.quantity }}</td>
              <td>{{ item.total | currency }}</td>
            </tr>
          </tbody>
        </table>
        <div class="order-total">
          <h3>Total : {{ element.total | currency }}</h3>
        </div>
        <div>
          <mat-radio-group>
            <mat-radio-button value="true" (click)="completed(element)"
              >Order completed</mat-radio-button
            >
          </mat-radio-group>
        </div>
      </div>
    </div>
    <div class="card prepare-btn" style="width: 12rem">
      <div class="card-body">
        <h1>Incoming orders</h1>
        {{ allOrders.length }}
        <div>
          <button color="primary" mat-raised-button (click)="cook()">
            Prepare order
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
