<div
  class="opening-container"
  fxLayoutAlign="center center"
  fxLayout="row"
  fxLayout.lt-md="column"
>
  <div
    class="business-container"
    fxLayout="column"
    fxLayoutAlign="center center"
    fxLayoutGap="40px"
    fxLayout.lt-md="column"
    fxFlex.sm="100%"
  >
    <div>
      <img
        src="../../../assets/images/LOGO_black.png"
        alt="logo"
        width="100px"
        height="70px"
      />
    </div>
    <h4>Opening Hours</h4>

    <div
      class="business-hours nima"
      fxLayout="row"
      fxLayoutAlign="space-between center"
      fxLayoutGap="200px"
      fxLayoutGap.lt-sm="10px"
    >
      <div class="days">
        <li>Monday</li>
        <li>Tuesday</li>
        <li>Wednesday</li>
        <li>Thursday</li>
        <li>Friday</li>
        <li>Saturday</li>
        <li>Sunday</li>
      </div>
      <div class="hours">
        <li>9AM - 5PM</li>
        <li>9AM - 5PM</li>
        <li>9AM - 5PM</li>
        <li>9AM - 5PM</li>
        <li>9AM - 5PM</li>
        <li>9AM - 5PM</li>
        <li>9AM - 5PM</li>
      </div>
    </div>
  </div>
  <div class="contact-container" fxLayout="row" fxLayoutAlign="center center">
    <div fxLayout="column" fxLayoutAlign="space-between end">
      <h5>Our contacts</h5>
      <li>0416203490</li>
      <li>dhiraj031@gmail.com</li>
    </div>
  </div>
</div>
