@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Secular+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");

.container {
  margin: 30px 0 30px 0;
}
.card {
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.header h5 {
  font-family: "Secular One", sans-serif;
  text-align: center;
}
.item-container {
  height: 300px;
  overflow: auto;
  position: relative;
}

.item {
  position: relative;
  margin: 10px;
}

.item::after {
  position: absolute;
  content: "";
  height: 0.09px;
  width: 100%;
  background-color: rgb(68, 63, 58);
  bottom: 0;
  opacity: 0.3;
}

.name h6 {
  font-family: "PT Sans Narrow", sans-serif;
}

button {
  width: 100%;
  margin: 3px;
}

.order-total p {
  font-family: "Archivo Black", sans-serif;
  letter-spacing: 2px;
  font-size: 20px;
}

.edit-coffee {
  position: absolute;
  bottom: -50px;
  width: 100%;
}

.user-message {
  margin: 5rem 0 5rem 0;
}

.user-message p {
  font-family: "Roboto Mono", monospace;
}

.order-number {
  padding: 5rem;
}

.order-number h1 {
  font-size: 20px;
}

.order-number h2 {
  font-size: 40px;
  color: rgb(82, 54, 76);
  font-weight: bold;
}

.order-number h1,
h2 {
  text-align: center;
}

.quantity {
  padding: 0 1rem 0 1rem;
}

.edit {
  padding: 0.5rem;
}

i {
  font-size: 20px;
}

.card-body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
