<div class="container" fxLayout="row" id="cart" fxLayoutAlign="center center">
  <div class="card" style="width: 22rem">
    <div class="card-body">
      <div class="item-container">
        <div class="header">
          <h5 class="card-title">Your order</h5>
        </div>
        <div
          class="item"
          fxLayout="row"
          fxLayoutAlign="space-between center"
          *ngFor="let element of orderList"
        >
          <div class="name">
            <h5>{{ element.productName | titlecase }}</h5>
            <h6>{{ element.quantity }} x {{ element.price }}</h6>
          </div>
          <div class="item-price">
            <p>{{ element.total }}</p>
          </div>
        </div>
      </div>

      <div
        class="order-total"
        fxLayout="row"
        fxLayoutAlign="space-between center"
      >
        <h5>Total</h5>
        <p>{{ grandTotal | currency }}</p>
      </div>
      <div class="edit-order" fxLayout="column" fxLayoutAlign="center center">
        <button color="primary" mat-raised-button>Edit</button>
        <button color="primary" mat-raised-button>Check out</button>
      </div>
    </div>
  </div>
</div>
