<div class="container" fxLayout="row" id="cart" fxLayoutAlign="center center">
  <div class="card" style="width: 22rem">
    <div class="card-body">
      <div class="header">
        <h5 class="card-title">Your order</h5>
        <h4>Order No: 7787</h4>
      </div>
      <div class="item-container">
        <div class="item" fxLayout="row" fxLayoutAlign="space-between center">
          <div class="name">
            <h5>Mocha</h5>
            <h6>2 X small</h6>
          </div>
          <div class="item-price">
            <p>$5.6</p>
          </div>
        </div>
        <div class="item" fxLayout="row" fxLayoutAlign="space-between center">
          <div class="name">
            <h5>Mocha</h5>
            <h6>2 X small</h6>
          </div>
          <div class="item-price">
            <p>$5.6</p>
          </div>
        </div>
        <div class="item" fxLayout="row" fxLayoutAlign="space-between center">
          <div class="name">
            <h5>Mocha</h5>
            <h6>2 X small</h6>
          </div>
          <div class="item-price">
            <p>$5.6</p>
          </div>
        </div>
      </div>

      <div
        class="order-total"
        fxLayout="row"
        fxLayoutAlign="space-between center"
      >
        <h5>Total</h5>
        <p>$98.20</p>
      </div>
      <div class="edit-order" fxLayout="column" fxLayoutAlign="center center">
        <button color="primary" mat-raised-button>Edit</button>
        <button color="primary" mat-raised-button>Place order</button>
      </div>
    </div>
  </div>
</div>
