<div class="container" fxFlex="60%">
  <div fxLayout="row" fxLayout.lt-md="column">
    <div
      fxLayoutAlign="center center"
      fxLayoutAlign.lt-md="center center"
      fxLayout="column"
    >
      <div class="intro"><h1>Hi...</h1></div>
      <div>
        <p>
          Upper West Side Deli is one of the cafes located at Brisbane Domestic
          Airport in the Food Collective at Café court in Level 1 (Near Gate 22-
          Qantas Terminal). It’s one of the SSP Australia’s food chain. It is
          famous for grab and go foods and drinks including Sandwiches, bagels
          and drinks including coffee, smoothies and beverages. It was founded
          in 2009 operating with more than 10 staff members and providing great
          service and food to their customers.
        </p>
      </div>
    </div>
    <div class="image" fxLayoutAlign.lt-md="center center">
      <img src="../../../assets/images/img_2.jpg" alt="" />
    </div>
  </div>

  <div fxLayout="column" fxlayoutAlign="center center">
    <p class="center">
      At UWD, we aim to make your experience a memorable one. Our energy and
      love for coffee is undeniable from the moment you take your first sip.
      Along with our excellent coffee, our simple thought-out menu comprises of
      family favourites which hero local produce
    </p>
    <p class="center thank">THANK YOU FOR VISITING US</p>
  </div>
</div>
