@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Special+Elite&display=swap");
img {
  width: 300px;
  height: 500px;
  object-fit: contain;
}

p {
  padding: 10px;
  font-family: "Roboto Mono", monospace;
}

.center {
  text-align: center;
}

h1 {
  font-family: "Special Elite", cursive;
}

.image {
  padding: 30px;
  background-color: rgb(46, 30, 61);
  border-radius: 10px;
  margin: 10px 0 10px 0;
}

.thank {
  font-weight: bolder;
}

.intro {
  padding: 10px;
}

.container {
  padding: 2rem;
}
