<div
  class="footer"
  fxLayout="column"
  fxLayoutAlign="space-between center"
  fxLayout.xs="row"
  fxLayoutAlign.lt-sm="center center"
>
  <div class="logo-container">
    <img
      src="../../../assets/images/UPPER WESTSIDE DELI.png"
      alt="logo"
      width="100px"
      height="70px"
    />
  </div>
  <div
    class="items"
    fxLayout="row"
    fxLayoutAlign="space-evenly center"
    fxLayout.lt-sm="column"
    fxLayoutAlign.lt-sm="center start"
  >
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="0.5rem">
      <fa-icon fxHide.gt-xs="true" [icon]="policy"></fa-icon>
      <li routerLink="privacy">Privacy and Policy</li>
    </div>
    <li fxHide.lt-sm="true">|</li>
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="0.5rem">
      <fa-icon fxHide.gt-xs="true" [icon]="about"></fa-icon>
      <li routerLink="about">Ahout us</li>
    </div>
    <li fxHide.lt-sm="true">|</li>
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="0.5rem">
      <fa-icon fxHide.gt-xs="true" [icon]="contact"></fa-icon>
      <li routerLink="contact">Contact</li>
    </div>
    <li fxHide.lt-sm="true">|</li>
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="0.5rem">
      <fa-icon fxHide.gt-xs="true" [icon]="faq"></fa-icon>
      <li routerLink="faq">FAQ</li>
    </div>
    <li fxHide.lt-sm="true">|</li>
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="0.5rem">
      <fa-icon fxHide.gt-xs="true" [icon]="feedback"></fa-icon>
      <li routerLink="feedback">Feedback</li>
    </div>
  </div>
</div>
<div
  class="copyright"
  fxLayout="row wrap"
  fxLayoutAlign="center center"
  fxLayout.xs="column"
>
  <li>&copy; Copyright {{ year }}, Upper Westside Deli</li>
  <span class="sign">Brisbane AU</span>
</div>
