<div class="footer" fxLayout="column" fxLayoutAlign="center center">
  <div>
    <img
      src="../../../assets/images/UPPER WESTSIDE DELI.png"
      alt="logo"
      width="100px"
      height="70px"
    />
  </div>
  <div
    class="items"
    fxLayout="row"
    fxFlex="40%"
    fxLayoutAlign="space-evenly center"
    fxFlex.lt-md="70%"
    fxFlex.gt-sm="40%"
    fxLayout.lt-sm="column"
  >
    <li>Terms and Conditions</li>
    <li fxHide.lt-sm="true">|</li>
    <li>Privacy and Policy</li>
    <li fxHide.lt-sm="true">|</li>
    <li>About</li>
    <li fxHide.lt-sm="true">|</li>
    <li>Contact</li>
  </div>
</div>
<div class="copyright" fxLayout="row" fxLayoutAlign="center center">
  <li>&copy; Copyright {{ year }}, Upper Westside Deli</li>
</div>
