<div class="container-fluid logo-wrapper" fxLayoutAlign="center center">
  <div class="logo">
    <h1>Upper Westside Deli</h1>
    <h2>BNE | AU</h2>
  </div>
</div>

<div class="menu-wrapper">
  <div fxLayout="row wrap" fxLayoutAlign="space-around center">
    <div class="nav" fxLayout="row" fxLayoutAlign="space-between center">
      <li routerLink="home" routerLinkActive="active">Home</li>
      <li routerLink="about" routerLinkActive="active">About Us</li>
      <button color="primary" mat-raised-button routerLink="menu">
        ORDER NOW
      </button>
    </div>
  </div>
</div>
<div class="login-wrapper" fxLayout="row" fxLayoutAlign="end center">
  <div
    id="test"
    fxLayout="row wrap"
    fxFlex="10%"
    fxLayoutAlign="space-around center"
  >
    <div
      class="user"
      fxLayout="column "
      fxLayoutAlign="center center"
      routerLink="login"
    >
      <div><i class="bi bi-person"></i></div>
      <h1>Account</h1>
    </div>
    <div
      class="user"
      fxLayout="column"
      fxLayoutAlign="center center"
      routerLink="check-out"
    >
      <div>
        <i class="bi bi-bag btn btn-primary position-relative"> </i>
      </div>
      <h1>Cart</h1>
    </div>
  </div>
</div>
