<div class="container-fluid logo-wrapper" fxLayoutAlign="center center">
  <div class="logo">
    <h1>Upper Westside Deli</h1>
    <h2>BNE | AU</h2>
  </div>
</div>

<div class="menu-wrapper">
  <div fxLayout="row wrap" fxLayoutAlign="space-around center">
    <div class="nav" fxLayout="row" fxLayoutAlign="space-around center">
      <li routerLink="home" routerLinkActive="active">Home</li>
      <!-- <li routerLink="menu" routerLinkActive="active">Menu</li> -->
      <!-- <li routerLink="contact" routerLinkActive="active">Contact</li> -->
      <li routerLink="about" routerLinkActive="active">About Us</li>
      <button color="primary" mat-raised-button routerLink="menu">
        ORDER NOW
      </button>
    </div>
  </div>
</div>
