<div
  class="container-fluid"
  fxLayout="row"
  fxLayoutAlign="space-between center"
>
  <div class="header">
    <img src="../../../assets/images/UPPER WESTSIDE DELI.png" alt="logo" />
  </div>
  <div
    class="menu"
    fxLayout="row"
    fxLayoutAlign="space-between center"
    fxHide.xs="true"
  >
    <li routerLink="/home" routerLinkActive="active">
      <fa-icon [icon]="home"></fa-icon>
    </li>
    <li routerLink="/home" routerLinkActive="active">
      <fa-icon [icon]="location"></fa-icon>
    </li>
    <li>
      <button color="primary" mat-raised-button routerLink="menu">
        ORDER NOW
      </button>
    </li>
  </div>

  <!-- Responsive menu -->
  <div
    class="responsive-menu"
    *ngIf="show"
    fxLayout="column"
    fxLayoutAlign="start start"
    fxHide.gt-xs="true"
    [class.close-up]="closeAnimation"
  >
    <div class="links">
      <div fxLayout="row" fxLayoutAlign="start center">
        <li><fa-icon [icon]="home"></fa-icon></li>
        <li routerLink="/home" (click)="clear()" (click)="clear()">HOME</li>
      </div>
      <div fxLayout="row" fxLayoutAlign="start center">
        <li><fa-icon [icon]="location"></fa-icon></li>
        <li routerLink="/home" (click)="clear()" (click)="clear()">LOCATION</li>
      </div>
      <li>
        <button
          color="primary"
          mat-raised-button
          routerLink="menu"
          (click)="clear()"
          (click)="clear()"
        >
          ORDER NOW
        </button>
      </li>
      <li class="center">All good <span class="foods">foods</span></li>
    </div>
  </div>

  <!-- toggle icons -->
  <div class="responsive" fxHide.gt-xs="true">
    <div class="close" *ngIf="close" (click)="toggle()">
      <li><i class="bi bi-x-lg"></i></li>
    </div>
    <div class="hamburger" *ngIf="hamburger" (click)="toggle()">
      <i class="bi bi-border-width"></i>
    </div>
  </div>
</div>
