<div class="container" fxLayout="column" fxLayoutAlign="center center">
  <h1>Privacy and Policy</h1>
  <div>
    <div>
      <p>
        We will collect, store and process your personal data in order for you
        to be supplied with our products and services, and allow us to respond
        to your requests and general queries made by you through your use of our
        website. We will only use your personal data when the law allows us to.
        Most commonly, we will use your personal data in the following
        circumstances:
      </p>
    </div>
    <div>
      <ol>
        <li>
          Where we need to perform a contract we are about to enter into or have
          entered into with you.
        </li>
        <li>
          Where it is necessary for our legitimate interests (or those of a
          third party) and your interests and fundamental rights do not override
          those interests.
        </li>
        <li>Where we need to comply with a legal or regulatory obligation.</li>
        <li>
          Our service providers, including logistics providers, such as those
          who deliver our orders and e-mails.
        </li>
        <li>
          Technical and support partners, such as the companies who host our
          website and who provide technical support and back-up services.
        </li>
        <li>
          Law enforcement agencies, government or public agencies or officials,
          regulators, and any other person or entity that has the appropriate
          legal authority where we are legally required or permitted to do so,
          to respond to claims, or to protect our rights, interests, privacy,
          property or safety.
        </li>
      </ol>
    </div>

    <div>
      <p>
        We will only pass your details onto a third party when you have agreed
        to do this when entering competitions/ promotions and will never sell,
        rent or exchange your personal information with any third party for
        commercial reasons. Where you have agreed to allow third parties to send
        direct marketing communications to you via email or text message, you
        have the right to withdraw consent to marketing at any time. We may use
        your identity, contact details, technical, usage and profile data to
        form a view on what we think you may want or need, or what may be of
        interest to you. This is how we decide which products, services and
        offers may be relevant for you (we call this marketing). You will
        receive marketing communications from us if you have requested
        information from us or purchased goods or services from us or if you
        provided us with your details when you entered a competition or
        registered for a promotion and, in each case, you have opted in for
        receiving that marketing. All UWD Employees have the accountability to
        ensure that the personal information they handle in their everyday
        duties is managed in accordance with the Acts. Each department is
        responsible for ensuring appropriate privacy procedures are in place for
        their group.
      </p>
    </div>
  </div>
  <div><h2>Thank you</h2></div>
</div>
