.form {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  padding: 30px;
  margin-top: 10px;
}

.coffee-item label {
  letter-spacing: 1px;
  font-style: italic;
  color: rgb(61, 53, 44);
  margin-left: 10px;
  font-size: 15px;
}

.error {
  color: red;
}

.error::before {
  content: "*";
}

h1 {
  font-family: "Jost", sans-serif;
}

.upload {
  margin-top: 2rem;
}
