<!-- <div>
  <img src="../../../assets/images/img_1.jpeg" alt="" />
</div> -->
<div class="container-fluid">
  <div
    class="wrapper"
    fxLayout="row"
    fxLayout.lt-md="column"
    fxLayoutAlign="center space-around"
  >
    <div
      fxFlex="50%"
      fxLayout="column"
      fxLayoutAlign="center center"
      class="grid-one"
    >
      <div class="quote">
        <p>
          “The morning cup of coffee has an exhilaration about it which the
          cheering influence of the afternoon or evening cup of tea cannot be
          expected to reproduce.”
        </p>
      </div>
      <div class="author"><p>– Oliver Wendell Holmes Sr.</p></div>
    </div>
    <div fxFlex="50%" class="grid-two"></div>
  </div>
  <div
    class="wrapper facts-wrapper"
    fxLayout="row"
    fxLayoutAlign="center center"
  >
    <div fxLayout="column" class="facts" fxFlex="60%">
      <h1>Did you know ?</h1>
      <p>
        Italian “expresso” The word espresso comes from Italian and means
        “expressed” or “forced out”. Espresso is made by forcing very hot water
        under high pressure through finely ground, compacted coffee
      </p>
    </div>
  </div>
</div>
