<div class="container" fxLayout="row">
  <div
    class="card"
    style="width: 18rem; height: 20rem"
    *ngFor="let element of coffee; let i = index"
    fxLayout="row"
  >
    <div class="card-body" fxLayout="column" fxLayoutAlign="center center">
      <h5 class="card-title">{{ element.name | uppercase }}</h5>
      <p class="card-text">{{ element.ingredients }}</p>
      <div fxLayout="row" fxLayoutGap="10px">
        <select
          [(ngModel)]="selectedSize"
          name="size"
          class="form-select"
          aria-label="Default select example"
        >
          <option [value]="element.price.small">Small</option>
          <option [value]="element.price.medium">Medium</option>
          <option [value]="element.price.large">Large</option>
        </select>
        <div>
          <p class="price">{{ selectedSize | currency }}</p>
        </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="center space-between">
        <div class="btn-group" role="group" aria-label="Basic example">
          <button
            type="button"
            class="btn btn-outline-primary"
            (click)="increment()"
            (click)="getTotal()"
          >
            +
          </button>
          <button
            type="button"
            class="btn btn-outline-primary"
            (click)="decrement()"
            (click)="getTotal()"
          >
            -
          </button>
        </div>
        <div>
          <h4>{{ value }}</h4>
        </div>
      </div>
    </div>
    <div class="check-out" fxLayout="row" fxLayoutAlign="space-between center">
      <div>
        <h4>Total</h4>
        <p>{{ totalAmount | currency }}</p>
      </div>
      <div>
        <fa-icon [icon]="cart"></fa-icon>
      </div>
    </div>
  </div>
</div>
