@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poiret+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

.price {
  font-family: "Righteous", cursive;
  font-size: 18px;
}

.card {
  margin: 10px;
  padding: 10px;
}

.card-text {
  text-align: center;
}

.card div {
  margin: 2px;
}

/*
#total {
  font-family: "Hammersmith One", sans-serif;
  color: rgb(20, 128, 88);
  font-size: 25px;
} */

select {
  width: 50px;
}
.quantity {
  margin: 0 10px 0 10px;
}

h1 {
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
}

h2 {
  font-family: "Bebas Neue", cursive;
  font-size: 25px;
  letter-spacing: 2px;
  color: rgb(72, 59, 41);
}
