<div class="container" fxLayout="row" id="coffee">
  <div
    class="card"
    style="width: 18rem; height: 20rem"
    *ngFor="let element of coffee; let i = index"
    fxLayout="row"
  >
    <div class="card-body" fxLayout="column" fxLayoutAlign="center center">
      <div fxLayout="column" fxLayoutAlign="center center">
        <h5 class="card-title">{{ element.name | uppercase }}</h5>
        <p class="card-text">{{ element.ingredients }}</p>
      </div>
      <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
        <select
          [(ngModel)]="element.size"
          name="size"
          class="form-select"
          aria-label=".form-select-sm example"
        >
          <option [value]="element.price.small">Small</option>
          <option [value]="element.price.medium">Medium</option>
          <option [value]="element.price.large">Large</option>
        </select>
        <div>
          <p class="price">{{ element.size }}</p>
        </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-between center">
        <div class="btn-group" role="group" aria-label="Basic example">
          <button mat-flat-button (click)="increment(i)" (click)="getTotal(i)">
            <fa-icon [icon]="add"></fa-icon>
          </button>
          <div>
            <h4>{{ element.value }}</h4>
          </div>
          <button mat-flat-button (click)="decrement(i)" (click)="getTotal(i)">
            <fa-icon [icon]="minus"></fa-icon>
          </button>
        </div>
      </div>
      <div
        class="check-out"
        fxLayout="row"
        fxLayoutAlign="space-between center"
      >
        <div>
          <h4>Total</h4>
          <p id="total">{{ element.total | currency }}</p>
        </div>
      </div>
      <div>
        <button color="primary" mat-raised-button>Add to cart</button>
      </div>
    </div>
  </div>
</div>
