@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap");

.price {
  font-family: "Righteous", cursive;
  font-size: 18px;
}

.card {
  overflow: scroll;
  margin: 10px;
}

.card-text {
  text-align: center;
}

.card div {
  margin: 2px;
}

fa-icon {
  font-size: 20px;
}

#total {
  font-family: "Hammersmith One", sans-serif;
  color: rgb(20, 128, 88);
  font-size: 25px;
}

button {
  width: 100%;
}
