<mat-toolbar
  color="primary"
  fxLayout="row"
  fxLayoutAlign="space-between center"
>
  <div>
    <h1>Upper Westside Deli</h1>
  </div>
  <div>
    <fa-icon
      [icon]="faBars"
      (click)="toogle()"
      (click)="sidenav.toggle()"
      *ngIf="!active"
    ></fa-icon>
    <fa-icon
      [icon]="faXmark"
      (click)="toogle()"
      (click)="sidenav.toggle()"
      *ngIf="active"
    ></fa-icon>
  </div>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav #sidenav [mode]="'side'">
    <div
      fxLayout="row"
      fxLayoutAlign="start center"
      (click)="sidenav.close()"
      (click)="clear()"
    >
      <fa-icon [icon]="order"></fa-icon>
      <li routerLink="update" routerLink="orders">Orders</li>
    </div>
    <div
      fxLayout="row"
      fxLayoutAlign="start center"
      (click)="sidenav.close()"
      (click)="clear()"
    >
      <fa-icon [icon]="update"></fa-icon>
      <li routerLink="update">Update</li>
    </div>
    <div
      fxLayout="row"
      fxLayoutAlign="start center"
      (click)="sidenav.close()"
      (click)="clear()"
    >
      <fa-icon [icon]="upload"></fa-icon>
      <li routerLink="update" routerLink="upload">Upload</li>
    </div>
    <div
      fxLayout="row"
      fxLayoutAlign="start center"
      (click)="sidenav.close()"
      (click)="clear()"
    >
      <fa-icon [icon]="review"></fa-icon>
      <li routerLink="review">Feedbacks</li>
    </div>

    <div
      fxLayout="row"
      fxLayoutAlign="start center"
      (click)="sidenav.close()"
      (click)="clear()"
    >
      <fa-icon [icon]="analysis"></fa-icon>
      <li routerLink="analysis">Analysis</li>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-review *ngIf="router.url.includes('review')"></app-review>
    <app-orders *ngIf="router.url.includes('orders')"></app-orders>
    <app-upload *ngIf="router.url.includes('upload')"></app-upload>
    <app-update *ngIf="router.url.includes('update')"></app-update>
    <app-analytics *ngIf="router.url.includes('analysis')"></app-analytics>
  </mat-sidenav-content>
</mat-sidenav-container>
