@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

mat-toolbar {
  padding: 3rem;
}

mat-sidenav {
  width: 200px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

h1 {
  font-family: "Bebas Neue", cursive;
  color: rgb(234, 240, 234);
  letter-spacing: 4px;
}

mat-sidenav-container {
  min-height: 100dvh;
}

.mat-menu {
  width: 150px;
}

fa-icon {
  padding: 10px;
}

.side-bar {
  height: 100dvh;
  background-color: rgb(214, 232, 253);
  width: 15%;
}

li {
  padding: 10px;
  cursor: pointer;
  font-weight: bold;
}

.logout {
  font-size: 15px;
}

.nav-list {
  padding: 1rem;
}
.nav-list:hover {
  background-color: antiquewhite;
  cursor: pointer;
}
