<div>
  <div>
    <h1>Pies</h1>
  </div>
  <div fxLayout="row wrap" fxLayoutAlign="center center">
    <div *ngFor="let element of pies; let i = index">
      <div
        *ngIf="element.availability"
        class="card"
        style="width: 18rem"
        id="pies"
      >
        <div class="card-body">
          <div fxLayout="row" fxLayoutAlign="center center">
            <img
              src="{{
                'assets/images/' +
                  element.productName.toLowerCase().trim() +
                  '.png'
              }}"
            />
          </div>
          <h5 class="card-title">{{ element.productName | titlecase }}</h5>
          <div fxLayout="row" fxLayoutAlign="space-between center">
            <div class="btn-group" role="group" aria-label="Basic example">
              <button
                type="button"
                class="btn btn-primary"
                (click)="decrement(i)"
                (click)="getTotal(i)"
              >
                <fa-icon [icon]="minusIcon"></fa-icon>
              </button>
              <div fxLayout="row" fxLayoutAlign="center center">
                <h6 class="quantity">{{ element.quantity }}</h6>
              </div>
              <button
                type="button"
                class="btn btn-primary"
                (click)="increment(i)"
                (click)="getTotal(i)"
              >
                <fa-icon [icon]="addIcon"></fa-icon>
              </button>
            </div>
          </div>
          <p class="card-text">{{ element.price | currency }}</p>
          <div>
            <p>{{ element.total | currency }}</p>
          </div>
          <div fxLayout="column">
            <button
              [disabled]="!element.quantity"
              color="primary"
              mat-raised-button
              (click)="order(i)"
            >
              Add to cart
            </button>
            <div *ngIf="element.success">
              <p>Added to cart</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
