@import url("https://fonts.googleapis.com/css2?family=Jost&display=swap");

.form-check {
  padding: 1rem;
}

.container-fluid {
  margin-top: 3rem;
}

.action {
  width: 30%;
  text-align: center;
}

.sold-out p {
  color: rgb(224, 70, 70);
  font-style: italic;
}

h1 {
  font-family: "Jost", sans-serif;
}
