<div class="container-fluid">
  <!-- Options to make changes to coffee products -->
  <div class="container">
    <div>
      <h1>Coffee</h1>
    </div>
    <div>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Product Name</th>
            <th class="action">Action</th>
          </tr>
        </thead>
        <tbody *ngFor="let element of allCoffee; let i = index">
          <tr>
            <td>
              {{ element.productName | titlecase }}
              <span class="sold-out" *ngIf="!element.availability">
                <p>(This item is sold out)</p>
              </span>
            </td>
            <td fxLayout="row" fxLayoutAlign="space-around center">
              <div>
                <button
                  (click)="removeCoffee(element.id)"
                  mat-raised-button
                  color="primary"
                >
                  Delete
                </button>
              </div>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  name="flexRadioDefault"
                  id="sold out"
                  value="false"
                  (click)="soldOutCoffee(element.id)"
                />
                <label class="form-check-label" for="flexRadioDefault1">
                  Sold out
                </label>
              </div>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  name="flexRadioDefault"
                  id="sold out"
                  value="false"
                  (click)="availableCoffee(element.id)"
                />
                <label class="form-check-label" for="flexRadioDefault1">
                  Available
                </label>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <!-- All other product update options -->
  <div class="container">
    <div>
      <h1>Other items</h1>
      <div>
        <div>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Product Name</th>
                <th>Category</th>
                <th class="action">Action</th>
              </tr>
            </thead>
            <tbody *ngFor="let element of allProducts">
              <tr>
                <td>
                  {{ element.productName | titlecase }}
                  <span class="sold-out" *ngIf="!element.availability">
                    <p>(This item is sold out)</p>
                  </span>
                </td>
                <td>{{ element.category }}</td>
                <td fxLayout="row" fxLayoutAlign="space-around center">
                  <div>
                    <button
                      mat-raised-button
                      color="primary"
                      (click)="removeItem(element.id)"
                    >
                      Delete
                    </button>
                  </div>
                  <div>
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="radio"
                        name="flexRadioDefault"
                        id="sold out"
                        value="false"
                        (click)="soldOut(element.id)"
                      />
                      <label class="form-check-label" for="flexRadioDefault1">
                        Sold out
                      </label>
                    </div>
                  </div>
                  <div>
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="radio"
                        name="flexRadioDefault"
                        id="sold out"
                        value="false"
                        (click)="available(element.id)"
                      />
                      <label class="form-check-label" for="flexRadioDefault1">
                        Available
                      </label>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div></div>
  </div>
</div>
