<div class="container-fluid" fxLayout="column" fxLayoutAlign="start center">
  <h1>Data Analysis</h1>
  <div class="container" fxLayout="row wrap" fxLayoutAlign="center start">
    <div
      class="card completed-orders"
      style="width: 18rem"
      (click)="completedOrder()"
    >
      <div class="card-body" fxLayout="column" fxLayoutAlign="center start">
        <h2>Completed orders</h2>
        <p>View all the completed orders here.</p>
      </div>
    </div>
    <div
      class="card completed-orders"
      style="width: 18rem"
      (click)="salesReport()"
    >
      <div class="card-body" fxLayout="column" fxLayoutAlign="center start">
        <h2>Sales report</h2>
        <p>View all the daily sales records here</p>
      </div>
    </div>
  </div>
</div>
<!-- Completed orders will be rendered accordingly -->

<div class="container completed-orders" *ngIf="completed">
  <div class="orders">
    <h1>Orders</h1>
    <table class="table table-bordered">
      <thead class="thead-primary">
        <tr>
          <th class="center">Order No</th>
          <th class="center">Items</th>
          <th class="center">Time</th>
          <th class="center">Total</th>
          <th class="center">Payment Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let element of allOrders">
          <td class="center" *ngIf="element.isComplete">
            {{ element.orderID }}
          </td>
          <td *ngIf="element.isComplete">
            <div>
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th class="center">Product name</th>
                    <th class="center">Quantity</th>
                    <th class="center">Size/ Unit price</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let coffee of element.coffee">
                    <td class="center">{{ coffee.productName | titlecase }}</td>
                    <td class="span-3 center">{{ coffee.quantity }}</td>
                    <td class="span-3 center">{{ getSize(coffee.size) }}</td>
                  </tr>
                  <tr *ngFor="let item of element.items">
                    <td class="center">{{ item.productName | titlecase }}</td>
                    <td class="span-3 center">{{ item.quantity }}</td>
                    <td class="span-3 center">{{ item.price | currency }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </td>
          <td *ngIf="element.isComplete" class="center">
            {{ element.time | date : "MMM d, y, h:mm:ss a" }}
          </td>
          <td *ngIf="element.isComplete" class="center">
            {{ element.total | currency }}
          </td>
          <td *ngIf="element.isComplete" class="center">
            {{ element.paymentStatus | titlecase }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div *ngIf="report" fxLayout="column" fxLayoutAlign="center center">
  <h2>Select the product and date to get the sales details</h2>
  <form
    action=""
    #sales="ngForm"
    fxLayout="row"
    fxLayoutAlign="space-evenly center"
  >
    <div class="select-product">
      <mat-form-field>
        <mat-label>Select product</mat-label>
        <mat-select
          name="product"
          id="product"
          [(ngModel)]="selectedCategory"
          required=""
        >
          <mat-option *ngFor="let element of products" [value]="element">
            {{ element | titlecase }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="filter">
      <mat-form-field>
        <mat-label>Choose a date</mat-label>
        <input
          matInput
          [matDatepicker]="picker"
          (dateChange)="onDateChange($event)"
          required=""
        />
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
    <div>
      <button
        [disabled]="sales.invalid"
        mat-raised-button
        (click)="generateReport()"
      >
        Generate report
      </button>
    </div>
  </form>
  <div class="container">
    <div fxLayout="column" *ngIf="success">
      <h2>
        All coffee sales on
        <span class="date">{{ selectDate | date : "MMMM d, y" }}</span>
      </h2>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Product Name</th>
            <th>Quantity</th>
            <th>Size</th>
            <th>Total</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let coffee of sortedCoffee">
            <td>{{ coffee.productName | titlecase }}</td>
            <td>{{ coffee.quantity }}</td>
            <td>{{ getSize(coffee.size) }}</td>
            <td>{{ coffee.total | currency }}</td>
          </tr>
        </tbody>
        <div fxLayout="row" class="total">
          <p>Total sales</p>
          <p>{{ total | currency }}</p>
        </div>
      </table>
    </div>
    <div fxLayout="column" *ngIf="productSuccess">
      <h2>
        All sales on
        <span class="date">{{ selectDate | date : "MMMM d, y" }}</span>
      </h2>
      <table class="table table-bordered" *ngIf="productSuccess">
        <thead>
          <tr>
            <th>Product Name</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Total</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of sortedProduct">
            <td>{{ item.productName | titlecase }}</td>
            <td>{{ item.quantity }}</td>
            <td>{{ item.price | currency }}</td>
            <td>{{ item.total | currency }}</td>
          </tr>
        </tbody>
        <div fxLayout="row" class="total">
          <p>Total sales</p>
          <p>{{ itemTotal | currency }}</p>
        </div>
      </table>
    </div>
    <!-- <p *ngIf="error">
      No data matches your query, please enter valid date and product
    </p> -->
  </div>
</div>

<!-- <div fxLayout="row" class="total">
  <p>Total sales</p>
  <p>{{ itemTotal | currency }}</p>
</div> -->
<!-- <h2>
  All coffee sales on <span class="date">{{ selectDate }}</span>
</h2> -->
