@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

.container-fluid {
  margin-top: 3rem;
}

h1 {
  font-family: "Bebas Neue", cursive;
}

h2 {
  font-size: 23px;
}

.card:hover {
  border: 1px solid rgb(105, 105, 154);
  cursor: pointer;
}

.span-3 {
  width: 30%;
}

.center {
  text-align: center;
}

.completed-orders {
  position: relative;
}

.total p {
  font-weight: bolder;
  padding: 0.5rem;
  background-color: rgb(101, 101, 119);
  color: rgb(252, 248, 241);
}

.date {
  color: rgb(218, 71, 71);
}

form {
  width: 60%;
}
