@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Zanabazar+Square&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&display=swap");

h2,
h3,
p,
li {
  text-align: center;
}

h1 {
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
}

h2 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 20px;
  font-weight: bolder;
}

p {
  font-family: "Noto Sans Zanabazar Square", sans-serif;
  line-height: 2rem;
}

.container {
  margin: 3rem;
}
