<div class="faq" fxLayout="row" fxLayoutAlign="center center">
  <div
    class="container"
    fxFlex="80%"
    fxLayout="row"
    fxLayoutAlign="center center"
  >
    <div class="faq">
      <div><h1>FAQs</h1></div>
      <div>
        <h2>When are you open?</h2>
        <p>
          To enjoy the delicious early morning coffee in a Brisbane domestic
          airport our store Upper westside deli open weekday5 am -9 pm and
          weekends (& public holidays) from 5 am -8 Pm.
        </p>
      </div>
      <div>
        <h2>What speciality dietary items are available?</h2>
        <li>Lite (skim milk)</li>
        <li>Almond</li>
        <li>Lactose</li>
        <li>Soy</li>
        <li>Oat</li>
        <li>Full cream</li>
      </div>
      <div>
        <h2>
          Does the Upper westside deli offers airport staff and flight crew
          discount?
        </h2>
        <p>
          Our Upper Westside deli is very generous to the airport staffs and
          crew. Upper westside deli gives 25% off on all the items.
        </p>
      </div>
      <div>
        <h2>Does Upper Westside deli serve Alcohol?</h2>
        <p>
          Our upper westside deli offers a various range of beer to the wines
          starting from 10 am- 9 pm.
        </p>
      </div>
      <div>
        <h2>What coffee beans does upper westside deli uses?</h2>
        <p>
          We do not compromise when it comes to coffee, we use the best coffee
          Fonzie abbott coffee roasters. Every sip is filled with flavours.
        </p>
      </div>
      <div>
        <h2>Upper westside deli does dine-in service?</h2>
        <p>
          Our cafe is located in a very busy place of the airport, because of
          the intense crowd we are just able to provide take away service.
        </p>
      </div>
      <div>
        <h2>Dose Upper westside deli have vegetarian options?</h2>
        <p>
          Upper Westside deli offers plain croissant and avocado croissant as a
          vegetarian option which is perfect with a cup of coffee?
        </p>
      </div>
      <div>
        <h2>
          Does Upper westside deli offers free parking for internal staffs?
        </h2>
        <p>
          Upper westside deli cares for their staff so it offers a free parking
          area in Level 1 .
        </p>
      </div>
    </div>
  </div>
</div>
