<!-- Customer receipt -->
<!-- <div
  *ngIf="message"
  class="user-message"
  fxLayout="column"
  fxLayoutAlign="center center"
>
  <div>
    <p>Thank you, we have received your order.</p>
  </div>
  <div class="card" style="width: 22rem">
    <div class="order-number" fxLayout="column" fxLayoutAlign="start center">
      <h1>Order Number</h1>
      <h2>{{ this.order.orderID }}</h2>
    </div> -->
<!-- coffee items -->
<!-- <div class="card-body">
      <div class="coffee-items">
        <table class="table">
          <thead>
            <tr>
              <th>Item</th>
              <th>Quantity</th>
              <th>Total</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let coffee of order.coffee">
              <td>{{ coffee.productName | titlecase }}</td>
              <td>{{ coffee.quantity }} * {{ coffee.size | currency }}</td>
              <td>{{ coffee.total | currency }}</td>
            </tr>
            <tr *ngFor="let item of order.items">
              <td>{{ item.productName | titlecase }}</td>
              <td>{{ item.quantity }}</td>
              <td>{{ item.total | currency }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div>
        <p>Total {{ order.total | currency }}</p>
      </div>
    </div>
  </div>
</div> -->
<h1>SUCCESS</h1>
<p>{{ id }}</p>
