.order-number {
  font-size: 22px;
}

.card {
  padding: 2rem;
}

.confirmation {
  margin-top: 1rem;
}

.user-message {
  min-height: 80vh;
  margin-top: 7rem;
}

.placeholder-wrapper {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  padding: 3rem;
}

.head h1 {
  font-size: 18px;
}

.business-header li {
  font-weight: bold;
}
