<!-- Customer receipt -->

<div class="user-message" fxLayout="column" fxLayoutAlign="start center">
  <div class="placeholder-wrapper" *ngIf="placeholder">
    <div class="place-holder" fxLayout="column" fxLayoutAlign="center center">
      <div class="head">
        <h1>Please wait, while we place your order</h1>
      </div>
      <div class="spinner">
        <span
          class="spinner-border spinner-border-md"
          role="status"
          aria-hidden="true"
        ></span>
      </div>
    </div>
  </div>
  <div
    class="confirmation-wrapper"
    fxLayout="column"
    fxLayoutAlign="center center"
  >
    <div class="confirmation">
      <p>Thank you, we have received your order.</p>
    </div>
    <div class="card" style="width: 22rem">
      <div class="business-header-wrapper">
        <div class="business-heaeder">
          <li>TAX INVOICE</li>
          <li>SSP Australia Catering Pty Ltd</li>
          <li>Upper West Side Deli</li>
          <li>Brisbane Domestic Airport, QLD</li>
          <li>Ph : +6129699700</li>
          <li>ABN : 75134475924</li>
          <li>{{ today }}</li>
          <li>
            <span class="order-number"
              >Order no : {{ this.currentOrder?.orderID }}</span
            >
          </li>
        </div>
      </div>
      <!-- coffee items -->
      <div class="card-body">
        <div class="coffee-items">
          <table class="table">
            <thead>
              <tr>
                <th>Item</th>
                <th>Quantity</th>
                <th>Total</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let coffee of this.currentOrder?.coffee">
                <td>{{ coffee.productName | titlecase }}</td>
                <td>{{ coffee.size | currency }} * {{ coffee.quantity }}</td>
                <td>{{ coffee.total | currency }}</td>
              </tr>
              <tr *ngFor="let item of this.currentOrder?.items">
                <td>{{ item.productName | titlecase }}</td>
                <td>{{ item.quantity }}</td>
                <td>{{ item.total | currency }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div>
          <p>Total Paid - {{ this.currentOrder?.total | currency }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
