<!-- Feedbacks posted by Admin -->
<div class="container-fluid" fxLayout="column" fxLayoutAlign="center center">
  <div class="feedback-container">
    <div>
      <h1>Recent feedbacks</h1>
    </div>
    <div class="feedback-wrapper" *ngFor="let element of feedback$">
      <div class="feedback" *ngIf="element.isPosted">
        <div class="author">
          <p>{{ element.name | titlecase }}</p>
          <p class="date">
            Posted on | {{ element.date | date : "EEEE, MMMM d, y" }}
          </p>
        </div>
        <div></div>
        <div class="comment">
          <p>{{ element.comment }}</p>
        </div>
      </div>
    </div>
  </div>

  <!-- Feedback form for customers-->
  <div
    class="container form-wrapper"
    fxLayout="row wrap"
    fxLayoutAlign="center center"
  >
    <div class="form-container" fxFlex="60%" fxFlex.lt-sm="90%">
      <div>
        <h1>Help us improve. Share your feedback with us today.</h1>
      </div>
      <div class="form">
        <form action="" #feedback="ngForm">
          <div>
            <label for="">Name</label>
            <input
              name="name"
              type="text"
              class="form-control"
              [(ngModel)]="name$"
              required=""
            />
          </div>
          <div>
            <label for="">Comments</label>
            <textarea
              name="comment"
              id=""
              cols="30"
              rows="10"
              class="form-control"
              [(ngModel)]="comment$"
              required=""
            ></textarea>
          </div>
        </form>
        <button
          color="primary"
          mat-raised-button
          (click)="postFeedbacks(feedback)"
          [disabled]="feedback.invalid"
        >
          Send
        </button>
        <p class="success" *ngIf="isSuccess">
          We have received your feedback, THANK YOU
        </p>
      </div>
    </div>
  </div>
</div>
