@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&display=swap");

.form-container {
  margin: 5rem 0 5rem 0;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  padding: 3rem;
}

h1 {
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  text-align: center;
}
