@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~bootstrap-icons/font/bootstrap-icons.css";
li {
  list-style-type: none;
  padding: none;
  margin: none;
}
.wrapper {
  height: 500px;
}

.card {
  margin: 1rem;
}

h1 {
  text-align: center;
}

.card-wrapper {
  margin: 0.5rem;
}

.card-title {
  font-family: "Bebas Neue", cursive;
  letter-spacing: 2px;
  color: rgb(72, 59, 41);
}

.quantity {
  padding: 0.5rem;
}
