@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~bootstrap-icons/font/bootstrap-icons.css";
li {
  list-style-type: none;
  padding: none;
  margin: none;
}
.wrapper {
  height: 500px;
}

.card {
  margin: 1rem;
}
