<div class="container" fxLayout="column" fxLayoutAlign="start center">
  <h1>our <span class="head">menu</span></h1>
  <div class="menu-container" fxLayout="row wrap" fxLayoutAlign="center center">
    <div
      class="category"
      fxLayout="row"
      fxLayoutAlign="center center"
      *ngFor="let element of category; let i = index"
    >
      <div
        class="card"
        style="width: 9rem; height: 9rem"
        [routerLink]="element.toLowerCase()"
        routerLinkActive="active"
        (click)="scroll(i, element)"
      >
        <div class="card-body" fxLayout="column" fxLayoutAlign="center center">
          <div>
            <img
              src="{{ 'assets/images/' + element.toLowerCase() + '.png' }}"
              alt="img"
            />
          </div>
          <div>
            <h5 class="card-title">
              {{ element }}
            </h5>
          </div>
        </div>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>
  <!-- Cart -->
  <div class="cart" fxLayout="row" fxLayoutAlign="end center">
    <button class="btn btn-primary" color="primary" routerLink="/check-out">
      <i class="bi bi-minecart"></i>
    </button>
  </div>
</div>
