<div fxLayout="column" class="menu-container" fxLayoutAlign="center center">
  <h1>Our Menu</h1>
  <div
    class="category"
    fxLayout="row wrap"
    fxLayout.md="row wrap"
    fxLayoutAlign="center center"
    fxLayout.lt-md="column"
  >
    <div
      fxFlex.md="20%"
      fxFlex.sm="50%"
      class="card"
      style="width: 9rem; height: 9rem"
      routerLink="coffee"
      routerLinkActive="active"
      (click)="scroll('coffee')"
    >
      <div class="card-body" fxLayout="column" fxLayoutAlign="center center">
        <fa-icon [icon]="coffee"></fa-icon>
        <h5 class="card-title">Coffee</h5>
      </div>
    </div>
    <div
      fxFlex.md="20%"
      fxFlex.sm="50%"
      class="card"
      style="width: 9rem; height: 9rem"
      routerLink="beer"
      routerLinkActive="active"
      (click)="scroll('beer')"
    >
      <div class="card-body" fxLayout="column" fxLayoutAlign="center center">
        <fa-icon [icon]="beer"></fa-icon>
        <h5 class="card-title">Beer</h5>
      </div>
    </div>
    <div
      fxFlex.md="20%"
      fxFlex.sm="30%"
      class="card"
      style="width: 9rem; height: 9rem"
      routerLink="bagel"
      routerLinkActive="active"
      (click)="scroll('bagel')"
    >
      <div class="card-body" fxLayout="column" fxLayoutAlign="center center">
        <fa-icon [icon]="coffee"></fa-icon>
        <h5 class="card-title">Bagels</h5>
      </div>
    </div>
    <div
      fxFlex.md="20%"
      fxFlex.sm="40%"
      class="card"
      style="width: 9rem; height: 9rem"
      routerLink="sandwich"
      routerLinkActive="active"
      (click)="scroll('sandwich')"
    >
      <div class="card-body" fxLayout="column" fxLayoutAlign="center center">
        <fa-icon [icon]="coffee"></fa-icon>
        <h5 class="card-title">Sandwich</h5>
      </div>
    </div>
    <div
      fxFlex.md="20%"
      fxFlex.sm="40%"
      class="card"
      style="width: 9rem; height: 9rem"
      routerLink="drinks"
      routerLinkActive="active"
      (click)="scroll('drinks')"
    >
      <div class="card-body" fxLayout="column" fxLayoutAlign="center center">
        <fa-icon [icon]="coffee"></fa-icon>
        <h5 class="card-title">Drinks</h5>
      </div>
    </div>
    <div
      fxFlex.md="20%"
      fxFlex.sm="40%"
      class="card"
      style="width: 9rem; height: 9rem"
      routerLink="pies"
      routerLinkActive="active"
      (click)="scroll('pies')"
    >
      <div class="card-body" fxLayout="column" fxLayoutAlign="center center">
        <fa-icon [icon]="coffee"></fa-icon>
        <h5 class="card-title">Pies</h5>
      </div>
    </div>
    <div
      fxFlex.md="20%"
      fxFlex.sm="40%"
      class="card"
      style="width: 9rem; height: 9rem"
      routerLink="croissant"
      routerLinkActive="active"
      (click)="scroll('croissant')"
    >
      <div class="card-body" fxLayout="column" fxLayoutAlign="center center">
        <fa-icon [icon]="coffee"></fa-icon>
        <h5 class="card-title">Croissants</h5>
      </div>
    </div>
  </div>
</div>
<div class="cart" fxLayout="row" fxLayoutAlign="center center">
  <button class="btn btn-primary">
    <i class="bi bi-bag" routerLink="check-out" (click)="scroll('cart')"></i>
  </button>
</div>

<router-outlet></router-outlet>
