.container {
  margin: 5rem;
}

.card-container {
  width: 90%;
}

.cards {
  width: 60%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 2rem;
  margin: 1rem;
}

.author {
  font-weight: bolder;
}

p {
  text-align: justify;
}

.card-body {
  padding: 3rem;
  border: 1px solid red;
}

h1 {
  text-align: center;
  font-family: "Jost", sans-serif;
}

.date {
  font-style: italic;
  font-size: 15px;
}

i {
  color: red;
  position: relative;
}

i:hover::after {
  content: "Posted";
  position: absolute;
  bottom: 100%;
  font-style: normal;
  font-weight: normal;
  color: aliceblue;
  background-color: rgb(42, 62, 81);
  padding: 0.5rem;
  border-radius: 10px;
}
